/* Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 4.5rem;
}
/* Navigation Links  */
nav {
    padding: 1rem;
    display: flex;
    align-items: center;
}
.vertline {
    margin: 0 1rem 0 1rem;
    height: 100%;
    width: 3px;
    background-color: black;
}
nav a {
    margin-right: 1rem;
}
/* Promotion Links */
.promotion {
    display: flex;
}
.socials {
    display: flex;
    align-items: center;
    font-size: large;
}
.socials a {
    margin-right: 1rem;
}

.logo {
    height: 4rem;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    background-color: #dd7171;
    color: white;
}

/* Carousel */
.carousel {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
    height: 80vh;
}
.carouselimages {
    display: flex;
    align-items: center;
    object-fit: cover;
    transition: transform 0.25s ease-in-out;
}
.carouselimages img {
    object-fit: cover;
    width: 1200px;
    height: 80vh;
}
.carousel a {
    position: relative;
    width: 1200px;
    height: 80vh;
}
.carouselimages h3 {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    font-size: 3rem;
}
.carouselimages p {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    font-size: 1.5rem;
}
.carouselimages p:last-child {
    bottom: 1.2rem;
}
.carouselbutton {
    position: absolute;
    background-color: #dd7171;
    color: white;
    font-size: large;
    font-weight: 700;
    opacity: 0.5;
    border: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    z-index: 1;
}
.next {
    right: 1rem;
}
.last {
    left: 1rem;
}
.carouselbutton:hover {
    cursor: pointer;
    opacity: 0.7;
}
.carouselbutton:focus {
    outline: none;
}

/* Section Break */
.section_break {
    margin: 2rem 0 2rem 0;
    background-color: black;
    width: 100%;
    height: 2px;
}

/* Latest Section */
.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.latest_article {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: flex-end;
    width: 45%;
    height: 40vh;
    background-image: url("images/Temp.png");
    background-size: cover;
}
.latest_article.news {
    background-image: url("images/News.png");
}
.latest_article.finance {
    background-image: url("images/Finance.jpg");
}
.latest_article.entertainment {
    background-image: url("images/Entertainment.png");
}
.latest_article.nature {
    background-image: url("images/Nature.jpg");
}
.latest_article.nature h3 {
    color: rgb(148, 164, 180);
}
.latest_article * {
    margin-top: 0.2rem;
}
.article_title {
    color: white;
}
.article_category {
    color: #dd7171;
}
.article_date {
    color: rgb(148, 164, 180);
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;
    padding: 1rem;
    height: 8rem;
    background-color: #22262a;
    color: white;
}
footer * a {
    color: white;
    font-size: 18px;
}
footer p {
    font-size: 13px;
}
footer .vertline {
    width: 2px;
    height: 20px;
    background-color: white;
}
footer nav a {
    margin: 0;
}

/* Subsribe Form  */
#subscribe_form {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    max-width: 25rem;
    margin: 2rem auto;
    background-color: #dd7171;
    color: white;
    border-radius: 1rem;
}
#subscribe_form * {
    margin-top: 1rem;
}
#subscribe_form h2 {
    margin: 0;
}
#subscribe_form input {
    padding: 0.2rem;
}
#subscribe_form *[type="submit"] {
    width: 30%;
    border: none;
    border-radius: 0.4rem;
    background-color: white;
    font-weight: 700;
}

/* Responsive */
@media screen and (max-width: 800px) {
    /* Screen Container */
    .container {
        width: 100%;
    }
    /* Header */
    .vertline,
    .promotion .socials,
    .subscribe {
        display: none;
    }
    header {
        flex-direction: column;
        height: 8rem;
    }
    header nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    nav a {
        margin-right: 0.2rem;
        font-size: 4.5vw;
    }
    .page_links {
        margin-top: 0.5rem;
    }

    /* Home Page Content */
    .carousel {
        display: none;
    }
    /* Latest Section */
    .latest h2 {
        text-align: center;
    }
    .latest .articles {
        flex-direction: column;
        width: 95%;
        margin: 2rem auto;
    }
    .latest_article {
        width: 100%;
    }

    /* Footer  */
    footer {
        flex-direction: column;
        height: auto;
    }
    footer nav a {
        margin-right: 0.5rem;
    }
}
